<html>

<head>
    <title>Orbit test</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body ng-app='gravSim' ng-controller='gravCont'>
    <div class='container panel panel-info'>
        <div class='row'>
            <div class='col-md-3'>Number of particles</div>
            <div class='col-md-6'>
                <input type="number" ng-model='numParts' ng-change='initP()' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>BigG</div>
            <div class='col-md-6'>
                <input type="number" ng-model='bigG' step='.005' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>Show Data Labels</div>
            <div class='col-md-6'>
                <input type="checkbox" ng-model='showLbls' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>Show Direction Pointer</div>
            <div class='col-md-6'>
                <input type="checkbox" ng-model='showPoint' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>Trail Mode</div>
            <div class='col-md-6'>
                <input type="checkbox" ng-model='trailMode' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
                <button ng-click='stopTimer()' class='btn btn-danger'>Stop!</button>
            </div>
        </div>
    </div>
    <div class='container full-cont' id='field'>
        <canvas id='canv'></canvas>
        <div class='particle' ng-repeat='p in parts' style='left:{{p.x}}px;top:{{p.y}}px;width:{{p.mass}}px;height:{{p.mass}}px;background:hsl({{p.temp.h}},100%,{{p.temp.v}}%);box-shadow:0 0 {{p.temp.v/10}}px {{p.temp.v/10}}px hsl({{p.temp.h}},100%,{{p.temp.v}}%)'>
            <span ng-if='showLbls'>{{p.data}}</span>
            <div class='dir-point' style='left:{{p.mass/2}}px;top:{{p.mass/2}}px;transform:rotateZ({{pointerAng(p)}}deg);' ng-show='showPoint'></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/orb.js"></script>
</body>

</html>
